.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  max-width: 1300px;
  gap: 1.5rem;
  background-color: var(--app);
  padding: 10vh 1%;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.themeToggle {
  z-index: 10;
  box-shadow: var(--box-shadow);
}
